*{
    border: 0;
    margin: 0;
    
}

header{

    background-color: red;
    width: 100%;
    clear: both;
    display: table;
}

.menu{
    width: 1400px;
    margin: 0 auto;
}

nav{
    float: right;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    
    
}

nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;

}


footer{

    text-align: center;
    background-color: red;
    padding: 50px;
}